*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgba(0, 0, 0, 0.825);
    height: 100px;
    color: white;
    list-style: none;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
}
.item{
    margin-right: 10px;
    padding-right: 7px;
    font-size: 18px;
}
.item:hover{
    color: blue;
    cursor: pointer;
}
.banner-img{
    width: 500px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    border: 2px solid black;
    align-items: center;
    background-color: black;
}
.banner-text{
    color: white;
}
.text-1{
    font-size: 55px;
    
}
.text-2{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
}
.logo-photo{
    width: 200px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px;
}
.about-para{
    font-size: 20px;
    padding: 5px;
}
.about-title{
    text-align: center;
    padding-top: 20px;
    font-size: 75px;
}
.icon{
    width: 70px;
}
.box{
    width: 230px;
    height: 280px;
    background-color: black;
    box-shadow: 4px 4px 15px gray;
    text-align: center;
    padding: 15px;
    color: white;
}
.box-btn{
    background-color: gray;
}
.box-title{
    padding: 10px;
}
.box-description{
    padding: 10px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.title{
    color: white;
}
.third{
    background-color:rgba(0, 0, 0, 0.91)
}
.second{
    background-color: white;
}
.fourth{
    background-color: black;
    color: white;
}
.parent-div{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}